<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Inicio</a></li>
  <li><a href="overview.html">Contexto</a></li>
  <li><a href="artifacts.html">Artefactos</a></li>
  <li><a href="reference.html">Referencia del Lenguaje</a></li>
  <li><a href="FSHQuickReference.pdf">Quick Reference Card</a></li>
   <li><a href="change_log.html">Vitacora Cambios</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Mas<b class="caret"> </b></a>
    <ul class="dropdown-menu">
      <li><a href="https://github.com/FHIR/sushi/tree/v3.1.0/antlr/src/main/antlr" target="_blank">FSH Grammar</a></li>
      <li><a href="full-ig.zip">Guia de Implementation (zip file)</a></li>
    </ul>
  </li>
</ul>